body,div,ol,ul,li,dl,dd,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,
select,header,footer,section,iframe{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
body{
	font:12px '微软雅黑','Arial';
	color:#000;   /*黑色*/
	}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#000;
}
a:hover{
	color:red;
}
img{
	border:0;
	vertical-align:middle;
	display: inline;
}
/*  input{
 	border:none;
 	outline:none;
 }  */
.fl{
	float:left;
}
.fr{
	float:right;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
.tab:before{
	content:"";
	display:table;
}
.main{
	width:1200px;
	margin:auto;
}
#header{
	width:100%;
	height:190px;
	background:#fff;
}
#footer{
	width:100%;
	height:472px;
}
/*
-webkit-
1、浮动 带来图片与后面的内容存在margin不一致  图片加 display:inline;
2、div内容垂直居中 :vertical-align:middle在ie中不起作用，解决：设置行高跟高度一致
3、div内外边框合并，相领的两个div margin采用的是最大的
4、text-align:center  失效  margin-right:auto;  margin-left:atuo;
5、div 出现空隙：font-size:0px;
6、ie6中div浮动后的双倍距离 float：left；margin：0 0 0 100px； 解决：display：inline；
谷歌、苹果：-Webkit-
ie：-ms-
火狐：-moz-
欧鹏：-o-
-moz- -Webkit- -ms- -o-
background-image  
background-color
transform
translate
transition
*/