
/*购物车信息******************/
#shopping-cart{
    margin-top:30px;
}
#shopping-cart>div.title{
    display:flex;
    justify-content:space-between;
}
#shopping-cart>div.title>b{
    font:18px "微软雅黑";
    font-weight:bold;
    color:#333;
}
#shopping-cart .total{
    font-size:14px;
    padding:0 3px;
    font-weight:bold;
}
.color{
    color:#E02D2D;
}
#shopping-cart .totalPrices{
    padding-left:8px;
    font-size:16px;
    font-weight:bold;
}
#box{
    marin-bottom:100px;
}
#content-box>div.imfor-top{
    height:36px;
    line-height:36px;
    margin-bottom:16px;
    background:linear-gradient(to bottom,#f5f4f5,#e6e6e5);
    box-shadow:3px 3px 6px #ccc;
    border-top:1px solid #bbb;
    margin:10px 0;
    display:flex;
    text-align:center;
    color:#808080;
}
#content-box div.check-top{
    width:62px;
}
#content-box div.product-top{
    width:456px;
}
#content-box div.price-top{
    width:142px;
}
#content-box div.num-top{
    width:140px;
}
#content-box div.total-top{
    width:120px;
}
#content-box div.del-top{
    width:116px;
}
#content-box div.imfor{
    height:115px;
    margin-bottom:10px;
    background:#fff;
    border:1px solid #e8e8e8;
    display:flex;
    position:relative;
}
#content-box div.check{
    width:62px;
    height: 113px;
    line-height: 113px;
    text-align: center;
}
#content-box div.check img{
    position:absolute;
    top:49px;
    left:27px;
}
#content-box div.product{
    width:456px;
    margin-top:18px;
}
#content-box div.product>a{
    float:left;
    margin-right:5px;
}
#content-box div.product p.col{
    margin-top:10px;
}
#content-box div.price{
    text-align:center;
    width:142px;
}
#content-box div.product~div{
    box-sizing:border-box;
    border-left:1px solid #ddd;
}
#content-box div.price p.price-desc{
    margin-top:40px;
    font-weight:bold;
    color:#E02D2D;
    box-sizing:border-box;
}
#content-box div.num{
    width:140px;
}
#content-box div.num span{
    display:inline-block;
    width:24px;
    height:24px;
    border:1px solid #bbb;
    background:#e8e8e8;
    text-align:center;
    line-height:24px;
    color:#444;
    float:left;
    margin-top:43px;
    cursor:pointer;
}
#content-box div.num span.reduce{
    margin-left:32px;
}
#content-box div.num input{
    width:26px;
    height:26px;
    padding-left:9px;
    font:12px simhei;
    border:1px solid #bbb;
    border-left:none;
    border-right:none;
    float:left;
    margin-top:43px;
}
#content-box div.total-price{
    text-align:center;
    line-height:115px;
    width:120px;
}
#content-box div.del{
    width:116px;
    text-align:center;
    line-height:115px;
}
#box div.foot{
    margin:30px 0 30px 0;
    height:42px;
    line-height:42px;
    -moz-background:linear-gradient(to bottom,#f5f4f5,#e6e6e5);
    -Webkit-background:linear-gradient(to bottom,#f5f4f5,#e6e6e5);
    -ms-background:linear-gradient(to bottom,#f5f4f5,#e6e6e5);
    -o-background:linear-gradient(to bottom,#f5f4f5,#e6e6e5);
    display:flex;
    justify-content:space-between;
}
#box div.foot>div{
    display:flex;
}
#box div.foot div.all{
    width:47px;
    margin-left:10px;
    cursor:pointer;
}
#box div.foot div.foot-qk{
    height:23px;
    line-height:23px;
    width:84px;
    text-align:center;
    background:#ccc;
    color:#fff;
    margin-left:15px;
    cursor:pointer;
    align-self:center;
}
#box div.foot .foot-continue{
    margin-right:15px;
}
#box div.foot .foot-continue a{
    color:#E02D2D;
    font-size:16px;
}
#box div.foot div.foot-selected{
    margin-right:15px;
}
#box div.foot span.totalOne{
    font-size:14px;
    font-weight:bold;
    margin:0 5px;
}
#box div.foot-tol{
    margin-right:15px;
	font-size:16px;
	color:#E02D2D;
	font-weight:bold;
}
#box div.foot-tol span+span{
    color: #E02D2D;
    font-size:16px;
    font-weight:bold;
}
#box div.foot-cash{
    cursor:pointer;
    width:140px;
    height:42px;
    line-height:42px;
	background:linear-gradient(to bottom,#E02D2D,red);
    -moz-background:linear-gradient(to bottom,#E02D2D,red);
    -Webkit-background:linear-gradient(to bottom,#E02D2D,red);
    -ms-background:linear-gradient(to bottom,#E02D2D,red);
    -o-background:linear-gradient(to bottom,#E02D2D,red);
    text-align:center;
    font-size:18px;
    color:#fff;
    border-radius:2px;
}
.iconbgcol{
    color:#E02D2D;
}