/*头部样式*/ 
header{
	width:990px;
	height:60px;
	margin:20px auto; 
	line-height:80px;
}
.head_line{
	width:1px;
	height:43px;
	margin:10px 20px 0 20px;
	background:#928f8f;
}
header img,.p,.head_line{
	float:left;
}
.header_register{
	float:right;
}
.header_register a{
	color:red;
}
/*中间样式*/
section{
	width:990px;
	/* height:470px; */
	border:1px solid #E6E6E6;
	margin:auto;
}
.register{
	margin-left:100px;
	height:466px;
}
.register>p>span:nth-child(4){
	color:red;
}
.bgurl{
	width:18px;
	height:18px;
	display:inline-block;
	opacity:0;
}
.bgi{
	opacity:1;
}
/*注册标题*/
.register h2{
	width:270px;
	height:50px;
	text-align:center;
	line-height:50px;
	border-bottom:1px solid red;
	margin-bottom:20px;
}
.register p{
	height:60px;
/*	border-bottom:1px solid red;*/

}
/*输入框名称*/
.register p .span_text{
	width:70px;
	height:30px;
	text-align:right;
	display:inline-block;
	font-size:14px;
}
/*输入框*/
.register p input{
	height:25px;
	padding-left:5px;
}
/*验证码*/
.register p input.ucode{
	width:100px;
}
.register p i.g_ucode{
	width:70px;
	height:27px;
	border:1px solid black;
	display:inline-block;
	position:relative;
	top:10px;
}
.register p:nth-child(6){
	margin-bottom:36px;
}
.register span.show{
	width:150px;
	height:20px;
	display:inline-block;
	line-height:20px;
	text-align:center;
	color:red;
}
/*注册按钮*/
.register p input.submit{
	width:290px;
	height:40px;
	background:#db2e2e;
	border:0px;
	border-radius:3px;
	color:#fff;
}
/* 其他账号登录 */
section .reg_other{
	width:300px;
	height:234px;
	position:relative;
	top:-416px;
	left:536px;
	border-left:1px solid #ccc;
}
.reg_other .reg_title{
	width:194px;
	height:50px;
	font-size:14px;
	margin:auto;
	color:#838383;
}
.reg_other .reg_title a{
	color:#3F6DB2;
}
.reg_other .order_login{
	width:194px;
	height:40px;
	margin:auto;
	margin-top:20px; 
	text-align:center;
	line-height:40px;
}
.reg_other div:nth-child(2){
	background:#5BAF30;
}
.reg_other .order_login .fa + span,.fa{
	color:#fff;
	font-size:16px;
}
.reg_other .order_login .fa{
	margin-right:15px;
}
.reg_other div:nth-child(3){
	background:#F55643;
}
.reg_other div:nth-child(4){
	background:#039AE3;
}

/*底部样式*/
.foot_box hr{
	width:90%;
	margin-top:20px;
	margin-bottom:20px; 
}
.foot_box .foot_box_list{
	width:990px;
	height:50px;
	margin:auto;
}
.foot_box .foot_box_list li{
	float:left;
	margin-right:10px;
/*	border-right:1px solid #534f4f; */
	padding-right:10px;
}
.foot_box .foot_box_list li a{
	color:#534f4f;
	font-size:14px;
}
/*最后一个li*/
.foot_box .foot_box_list li:last-child{
	float:right;
} 
